{
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "comments": false,
      "presets": [
        ["env", {
          "useBuiltIns": false
        }]
      ]
    },
    "commonjs": {
      "comments": false,
      "presets": [
        ["env", {
          "useBuiltIns": false
        }]
      ]
    }
  }
}
